.body {
    background-color: var(--main-bg-color);
}

.title {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.hamburger-icon {
    visibility: hidden;
}

.hilight-text {
    color: var(--hilight-text-color);
}

.vl {
    border-left: 3px solid black;
    height: 10rem;
    margin: 0 10rem 0 10rem;
}

.logo {
    height: 20rem;
    transition: 0.3s;
    margin: -4rem 0 -7rem 0;
}

.logo:hover {
    filter: drop-shadow(1px 1px 5px black);
    transition: 0.3s;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--secondary-bg-color); */
    background-image: url('banner.jpg');
    flex-wrap: wrap;
    box-shadow: 0 -8px 20px black;
}

.text-box {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    margin: 2rem 0 2rem 0;

}

.inline-image {
    max-height: 30rem;
    margin: 5rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem white;
}

#footer {
    margin: 5rem 0 5rem 0;
}

/* nav {
    display: flex;
    align-items: center;
    justify-content: center;
} */

#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

a :hover {
    color: var(--hilight-text-color);
}

.link {
    color: black;
}

iframe {
    margin: 1rem;
}

.faq {
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answer {
    max-width: 75vw;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--tertiary-bg-color);
    border-radius: 1rem;
  }
  
.list li {
    margin: 0.5rem;
  }



@media only screen and (max-width: 480px) {

    .head {
        flex-direction: column;
    }

    .hamburger-icon {
        visibility: visible;
    }

    #nav-links {
        visibility: hidden;
    }
    
    .hamburger-menu {
        background-color: var(--main-bg-color);
        padding: 0 3rem 0 0;
        z-index: 2;
        display: flex;
        position: absolute;
        right: 3rem;
        top: 16rem;
        border-radius: 1rem;
    }

    #mobile-nav-links {
        list-style: none;
    }

    .content {
        
    }

    .text-box {
        max-width: 100vw;
    }

    .close-icon {
        max-height: 1rem;
        position: relative;
        left: 8rem;
    }

}