.body {
    background-color: var(--main-bg-color);
}

.title {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hilight-text {
    color: var(--hilight-text-color);
}

.vl {
    border-left: 3px solid black;
    height: 10rem;
    margin: 0 10rem 0 10rem;
}

.logo {
    width: 20rem;
    transition: 0.3s;
}

.logo:hover {
    filter: drop-shadow(1px 1px 5px black);
    transition: 0.3s;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--secondary-bg-color);
    flex-wrap: wrap;
    box-shadow: 0 -8px 20px black;
}

.text-box {
    max-width: 50vw;
}

.inline-image {
    max-height: 30rem;
    margin: 5rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem black;
}

#footer {
    margin: 5rem 0 5rem 0;
}

/* nav {
    display: flex;
    align-items: center;
    justify-content: center;
} */

#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

a :hover {
    color: var(--hilight-text-color);
}

.link {
    color: black;
}

iframe {
    margin: 1rem;
}

.faq {
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answer {
    max-width: 75vw;
}