.body {
    background-color: var(--main-bg-color);
}

.title {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hilight-text {
    color: var(--hilight-text-color);
}

.vl {
    border-left: 3px solid black;
    height: 10rem;
    margin: 0 10rem 0 10rem;
}

.logo {
    width: 20rem;
}

